#hilo_container {
	position: absolute;
	z-index: -1;
	canvas {
		border-radius: 7px;
	}
}

sequence.fancy #dust-0 {
	button {
		border: 2px solid gray;
		padding: 3px 7px;
		border-radius: 4px;
	}
}

#dust-1 {
	@color: #be720e;
	font-size: 30px;
	color: @color;
	text-shadow: 1px 1px white, 2px 2px @color;
	font-weight: bold;
}

entry#gamemeta {
	color: white;
	margin: 3px;
	font-size: 0.8em;
}
