
#hilo_container {
	position: absolute;
	z-index: -1;
	canvas {
		border-radius: 7px;
	}
}

#dust-1 {
	@color: #935608;
	font-size: 30px;
	color: @color;
	text-shadow: 2px 2px white, 3px 3px @color;
	font-weight: bold;
}
