.fancy #dust-0 {
	position: absolute;
	display: flex;
	flex-direction: column;
}

sequence.fancy {
	@font-face {
		font-family: 'Azeret Mono';
		src: url('./styles/AzeretMono-VariableFont_wght.ttf');
	}
	font-family: 'Azeret Mono';

	button {
		cursor: pointer;
		border: 2px solid gray;
		padding: 3px 7px;
		border-radius: 4px;
	}
}

body.fancy {
	background-color: #434d5b; 
}