sequence.fancy {
	@font-face {
		font-family: 'Azeret Mono';
		src: url('./styles/AzeretMono-VariableFont_wght.ttf');
	}

	@font-face {
		font-family: 'Comfortaa';
		src: url('./styles/Comfortaa-VariableFont_wght.ttf');
	}

	font-family: 'Comfortaa';

	display: flex;
	flex-direction: column;

	button {
		cursor: pointer;
		&.disabled {
			opacity: 0.7
		}
	}
}

body.fancy {
	background-color: #434d5b; 
}
