entry#gamestats content {
	width: 50%;
	margin-right: 0;
	margin-left: auto;
	padding: 10px;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: 'gamescore leaderscore';

	color: white;
	text-shadow: 0px 2px black;

	entry#gamescore {
		font-size: 32px;
		grid-area: gamescore;
		display: flex;

		&::before {
			content: '';
			background-image: url('./styles/img/star.png');
			background-size: contain;
			width: 32px;
			height: 32px;
			margin: auto 0;
		}
	}

	#leaderscore {
		font-size: 32px;
		grid-area: leaderscore;
		display: flex;

		&::before {
			margin: auto 0;
			content: '';
			background-image: url('./styles/img/trophy.png');
			background-size: contain;
			width: 32px;
			height: 32px;
		}
	}
}

sequence.game2048 {
	@font-face {
		font-family: 'ComicCAT';
		src: url('./styles/Comic_CAT.otf');
	}

	@font-face {
		font-family: 'Zyzol';
		src: url('./styles/Zyzol.otf');
	}

	font-family: 'Zyzol';
	button {
		background-position: center;
		background-repeat: no-repeat;
		background-color: #797979;

		box-shadow: inset 0px -5px rgba(0, 0, 0, 0.2), 0px 2px 4px 1px #0001;
		border-radius: 10px;
	}
}

entry#gamecontrols {
	width: 100%;

	content {
		margin-right: 0;
		margin-left: auto;
		display: flex;
		gap: 10px;
		button {
			width: 64px;
			height: 64px;
			background-size: 80%;
		}

		button#game {
			background-image: url('./styles/img/return.png');
		}
		button#undo {
			background-image: url('./styles/img/rewind.png');
		}
	}
}

entry#game.game2048 content {
	--color-a: rgba(0, 0, 0, 0.438);
	width: 512px;
	height: 512px;
	// -- fix mobile
	min-width: 512px;
	min-height: 512px;

	.fancy & {
		border-radius: 10px;
		box-shadow: 0px 0px 5px #00000015, inset 0px 0px 2px #000f;

		.dust-1-background {
			background: #f6fbff;
			background-image: linear-gradient(#0002 2px, transparent 0),
				linear-gradient(90deg, #0002 2px, transparent 0);
			background-size: 128px 128px;
			background-position: -1px -1px;
		}

		.dust-0-background {
			// Colors
			@bg-color: #ddd;
			@dot-color: #444;

			// Dimensions
			@dot-size: 3px;
			@dot-space: 128px;

			background: linear-gradient(90deg, @bg-color (@dot-space - @dot-size), transparent 1%),
				linear-gradient(@bg-color (@dot-space - @dot-size), transparent 1%), @dot-color;
			background-size: @dot-space @dot-space;
			background-position: 1px 1px;
		}

		.dust-0-background();
	}

	tile {
		--padding: 4px;
		width: 128px;
		height: 128px;
		padding: calc(var(--padding) / 2);

		border-radius: 3px;
		display: flex;
		position: relative;

		&.animate-transition {
			transition-duration: 100ms;
		}

		&[data-title].dust-0 {
			&::before {
				position: absolute;
				content: '';
				width: calc(128px - var(--padding));
				height: calc(128px - var(--padding));

				background-color: var(--color);
				box-shadow: inset 0px -5px rgba(0, 0, 0, 0.2), 0px 2px 4px 1px #0001;
				border-radius: 10px;
			}
		}

		&::after {
			z-index: 1;
			font-size: 2em;
			margin: 2px auto auto 10px;
			content: attr(data-title);
			color: #eeecec;
			text-shadow: 0px 2px #000a;
			//mix-blend-mode: overlay;
		}

		vfx.scoreNumber {
			text-shadow: 0px 2px #000a;
			z-index: 2;
			font-size: 4em;
			color: #eeecec;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: vfx_float_up 0.5s ease-in-out;
			animation-fill-mode: forwards;
			animation-delay: 0.2s;
			opacity: 0;
		}

		@keyframes vfx_float_up {
			0% {
				transform: translate(-50%, -50%);
				opacity: 1;
			}
			100% {
				opacity: 0;
				transform: translate(-50%, -128px);
			}
		}

		@keyframes appear {
			0% {
				opacity: 0;
				transform: scale(0.3);
			}

			100% {
				opacity: 1;
				transform: scale(1);
			}
		}

		@keyframes merged {
			0% {
				transform: scale(1);
				text-shadow: 0px 2px rgba(0, 0, 0, 0.397);
			}

			50% {
				transform: scale(1.2);
				text-shadow: 10px 8px rgba(0, 0, 0, 0.2);
			}

			100% {
				transform: scale(1);
				text-shadow: 0px 2px rgba(0, 0, 0, 0.397);
			}
		}

		&.animate-appear {
			&::after,
			&::before {
				animation: appear 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
			}
		}

		&.animate-merge::after {
			animation: merged 0.4s ease-in;
		}
	}
}

entry#game.game2048 content tile {
	&[data-title]::before {
		position: absolute;
		content: '';
		width: calc(128px - var(--padding));
		height: calc(128px - var(--padding));
		background-size: contain;

		box-shadow: 0px 1px 4px #0005;
		border-radius: 7px;
	}

	&[data-pow='1'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/gorilla.png');
		}
		&::after {
			//color: #5b5b5b;
		}
	}
	&[data-pow='2'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/rabbit.png');
		}
		&::after {
			//color: #5b5b5b;
		}
	}
	&[data-pow='3'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/chick.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='4'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/giraffe.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='5'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/monkey.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='6'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/bear.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='7'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/snake.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='8'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/duck.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='9'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/narwhal.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='10'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/hippo.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='11'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/pig.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='12'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/parrot.png');
		}
		&::after {
			//color: x;
		}
	}
	&[data-pow='13'] {
		&::before {
			background-image: url('./styles/img/game2048-tiles/whale.png');
		}
		&::after {
			//color: x;
		}
	}
}

entry#gameover {
	font-size: 100px;
	color: white;
	color: white;
	text-shadow: 0px 2px black;

	content {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	button {
		width: 100px;
		height: 100px;
		background-image: url('./styles/img/return.png');
	}
}
