head
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="./styles/reset.css")
	link(rel="stylesheet", href="index.less")

body.fancy
	#frontdoor.fancy
		db: include palette
		sequence#dust-220523.fancy

			entry#gamestats.game2048
				showwhile game
				content
					entry#gamescore.mutable 0
					entry#leaderscore.mutable 0
					entry#buttons
						button#undo.disabled
						button#game.stateswitch

			entry#game.game2048
				showwhile game
				content.mutable

			entry#gameover
				showwhile gameover
				content
					label#defeat Поражение
					button#game.stateswitch

			entry#gamemeta
				showon postinit
				content v2

			entry#dust-1
				//showon postinit
				showwhile root
				hideon button play
				content: h1 ohh.. no game here.. yet?
			entry#main_menu
				showwhile root
				hideon button play
				content: button#play play
			entry
				showon button play
				#hilo_container

legs
	script(type="module", src="./index.js" async defer)
