head
	meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="./styles/reset.css")
	link(rel="stylesheet", href="index.less")

body.fancy
	#frontdoor.fancy
		db: include palette
		sequence#dust-0.fancy
			entry#game
				showwhile game
				content.game2048.mutable
			entry#dust-1
				//showon postinit
				showwhile root
				hideon button play
				content: h1 ohh.. no game here.. yet?
			entry#main_menu
				showwhile root
				hideon button play
				content: button#play play
			entry
				showon button play
				#hilo_container

legs
	script(type="module", src="./index.js" async defer)