db#palette_list.
	pineapple32
	garbage
	color_city_8

db#palette-pineapple32.
	43002a
	890027
	d9243c
	ff6157
	ffb762
	c76e46
	73392e
	34111f
	030710
	273b2d
	458239
	9cb93b
	ffd832
	ff823b
	d1401f
	7c191a
	310c1b
	833f34
	eb9c6e
	ffdaac
	ffffe4
	bfc3c6
	6d8a8d
	293b49
	041528
	033e5e
	1c92a7
	77d6c1
	ffe0dc
	ff88a9
	c03b94
	601761

db#palette-garbage.
	ff00de
	000000

db#palette-color_city_8.
	26171b
	46474c
	7a7070
	e0dca4
	b5bd3d
	c0552a
	6d3e0f
	508714
	85a796