db#palette_list.
	pineapple32
	garbage
	cave
	color_city_8
	docomo_pineapple_220422
	tyndustre_220422_00

db#palette-pineapple32.
	43002a
	890027
	d9243c
	ff6157
	ffb762
	c76e46
	73392e
	34111f
	030710
	273b2d
	458239
	9cb93b
	ffd832
	ff823b
	d1401f
	7c191a
	310c1b
	833f34
	eb9c6e
	ffdaac
	ffffe4
	bfc3c6
	6d8a8d
	293b49
	041528
	033e5e
	1c92a7
	77d6c1
	ffe0dc
	ff88a9
	c03b94
	601761

db#palette-garbage.
	ff00de
	000000

db#palette-cave.
	000000
	100029
	361d23
	443f4f
	8f56b3
	c79065
	9ce4c7
	f5f5f5

db#palette-color_city_8.
	26171b
	46474c
	7a7070
	e0dca4
	b5bd3d
	c0552a
	6d3e0f
	508714
	85a796

db#palette-docomo_pineapple_220422.
	009d64
	00ffff
	006100
	ffff00
	008941
	ffc800
	ff6100
	00ff00
	008000
	000000

db#palette-tyndustre_220422_00.
	ffffeb
	fbe7d7
	f2b6b0
	e66d76
	dd3c4f
	d9243c
	ee9e9d
	f7cec4
	ea858a
	e15563
	d8dace
	323d4f
	fafae7
	e6e7d8
	dfbcb6
	c5273f
	d5243d
	b92840
	c4636f
	d5c7be
	ca8b8e
	c0505f
	dddfd1
	434d5b

